<div class="header fixed-top">
    <div class="card header-card ">
        <div class="row px-3">
            <div class="col-lg-6 col-3 col-md-8 header-left px-0">
                <img class="nr-logo-header not-router" />
            </div>
            <div class="col-lg-6 col-9 col-md-4 px-0">
                <ul class="not-menu mt-2 pt-2 mb-1 float-right">
                    <li class="not-menu-list not-pointer">
                        <span><span
                                class="header-user-name not-text-xs mr-2"><b>{{userDetail?.email}}</b></span><span><img
                                    class="not-user-avatar-sm"
                                    src="https://image.flaticon.com/icons/png/512/149/149071.png"></span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>