<div  class="container">
    <div class="row mt-3">
        <div class="col-md-12 px-3 mb-3">
            <h1><b>Posts</b></h1>
        </div>
    </div>
</div>

<div infinite-scroll [fromRoot]="true" [infiniteScrollContainer]="''" [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="isFullListDisplayed" [scrollWindow]="true" (scrolled)="postlist('infinite')">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 col-lg-4 col-md-6" *ngFor="let post of itemsToShow;let i=index">
        <mat-card  [routerLink]="['/post/detail', post?.id]" class="card-shadow mb-4 not-pointer" >
          <div class="text-center mt-3">
            <p class="not-text-sm text-dark not-text-wrap-1line mb-2">
              <b>{{ post?.title }}</b>
            </p>
          </div>
        </mat-card>
      </div>

      <div class="col-12 col-lg-4 col-md-6" *ngIf="showLoader">
        <mat-card class="card-shadow mb-4 not-pointer">
          <div class="mb-3">
            <img style="width: 100%; height: 250px; border-radius: 10px" class="blog-card-img animated-title-loader" />
          </div>
          <div class="text-center mt-3">
            <p class="
                mb-2
                animated-title-loader
              " style="width: 200px; border-radius: 4px; height: 20px; display: inline-block;">
              <b></b>
            </p>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="spinner-item">
    <mat-progress-spinner *ngIf="spinnerloader" [mode]="'indeterminate'" [diameter]="50">     
    </mat-progress-spinner>
  </div>